html,
body {
  background-color: #d2d6d8;
  height: 100%;
  margin: 0px;
  padding: 0px;
}
header {
  display: flex;
  flex-direction: column;
  border-bottom: 15px solid;
  border-color: #83b6d4;
}

#container-profile {
  display: flex;
  height: 120px;
  width: 100%;
  background-color: #b0d6e3;
}

#col-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px;
}

#profile-picture {
  display: flex;
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

#col-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#row-1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font: 17px monospace;
}

#row-2 {
  display: flex;
  flex-direction: row;
  margin: -25px 0px 0px 0px;
}

.row-logo {
  display: flex;
}

.logo {
  width: 25px;
  height: 25px;
  margin: 0px 5px 0px 5px;
}

#container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-image: url("https://wallpaperaccess.com/full/3116814.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.table {
  display: flex;
  flex-direction: column;
  margin: 50px 20px 50px 20px;
  height: 300px;
  width: 250px;
  background-color: #b0d6e3;
}

.table-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75px;
  width: 100%;
  background-color: #e5e9ec;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-bottom: 3px solid;
  border-color: gray;
}
